{% extends "admin_panel/admin_panel_base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">HDN Admin Panel</h1>
    <p class="lead">Health Data Nexus API Admin Panel</p>
</div>

<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Celery Management</h5>
                <p class="card-text">Manage Celery tasks and workers.</p>
                <a href="{{ url_for('admin_panel_management.celery_management') }}" class="btn btn-primary">Go to Celery Management</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
